.year-select-box {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 14px;
  font-size: 1rem;
  background-color: white;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}
.arrow-down {
  font-size: 0.7rem;
  color: #888;
}

.picker-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.year-picker-modal {
  background-color: white;
  width: 90%;
  max-width: 350px;
  border-radius: 24px;
  padding: 1.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.year-picker-modal h3 {
  margin-top: 0;
  font-size: 0.9rem;
  color: #888;
  font-weight: 500;
}

.year-list {
  height: 200px;
  overflow-y: scroll;
}
.year-list::-webkit-scrollbar {
  display: none;
}
.year-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.year-button {
  display: block;
  width: 100%;
  padding: 0.75rem 0;
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  text-align: center;
  color: #aaa;
  cursor: pointer;
  transition: all 0.2s;
}

.year-button:hover {
  font-weight: 700;
  color: #555;
}

.year-button.selected {
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
}
